/* styles.css */
/* Global styles for the form container */
.form-container {
    max-width: 600px;
    margin: auto;
    padding: 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Styles for step titles */
  .step-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: monospace;
  }
  
  /* Styles for step descriptions */
  .step-description {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: monospace;
  }
  
  /* Styles for input fields */
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: monospace;
  }
  
  /* Styles for the next and back button */
  .next-button {
    background-color: #2E2F5B;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-family: monospace;
  }
  .back-button {
    color: rgb(0, 0, 0);
    padding: 10px;
    cursor: pointer;
    font-family: monospace;
    position: absolute;
    top: 0;
    left: 0;
  }
  .file-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(30%,10%);
  }
  
  .image-preview {
    width: 100px; /* Set the desired width */
    height: 100px; /* Set the desired height */
    border-radius: 50%;
    object-fit: cover;
  }



  
