/* Your existing styles */

/* Global styles for the form container */
.form-container {
  max-width: 1000px;
  margin: auto;
  padding: 50px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto; /* Add overflow-y property to enable scrolling */
  max-height: 80vh; /* Set a maximum height to limit the container size */
}

/* Styles for step titles */
.step-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: monospace;
}

/* Styles for step descriptions */
.step-description {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: monospace;
}

/* Styles for input fields */
.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: monospace;
}

/* Styles for the next and back button */
.next-button {
  background-color: #2E2F5B;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-family: monospace;
}

.back-button {
  color: rgb(0, 0, 0);
  padding: 10px;
  cursor: pointer;
  font-family: monospace;
  position: absolute;
  top: 0;
  left: 0;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(30%, 10%);
}

.image-preview {
  width: 100px; /* Set the desired width */
  height: 100px; /* Set the desired height */
  border-radius: 50%;
  object-fit: cover;
}

/* Styles for the date picker container */
.date-picker-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: monospace;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  font-family: monospace;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.react-datepicker__header {
  background-color: #2E2F5B;
  color: #EBE1E9;
}

.react-datepicker__month {
  margin: 0;
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 30px;
  line-height: 30px;
  margin: 2px;
}

.react-datepicker__day--selected {
  background-color: #8183ff;
  color: #EBE1E9;
}

.react-datepicker__day--keyboard-selected {
  background-color: #2E2F5B;
  color: #EBE1E9;
}

.react-datepicker__time-container {
  display: none !important;
}

.react-datepicker__today-button {
  border: none;
  background: none;
  color: #2E2F5B;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.react-datepicker__today-button:hover {
  text-decoration: underline;
}


.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-row label {
  margin-right: 10px;
}

.end-label {
  margin-left: 10px;
}

.add-another-container {
  text-align: left;
  margin-bottom: 10px; /* Adjust as needed */
  margin-top: 10px; /* Adjust as needed */
}

.autocomplete-dropdown-container {
  position: absolute;
  width: 200px; /* Set your desired width */
  max-height: 150px; /* Set the maximum height for the dropdown */
  overflow-y: auto;
  z-index: 1;
  border-radius: 8px; /* Add border-radius for curved edges */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.location-search-input {
  width: 100%;
  box-sizing: border-box;
}

.autocomplete-dropdown-container div {
  font-size: 14px;
  padding: 8px;
  cursor: pointer; /* Set the cursor to pointer */
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Adjust the gap as needed */
}

.name-relation-group,
.input-group-phone-email {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.name-relation-group label,
.input-group-phone-email label {
  text-align: right;
  margin-right: 10px;
}

.name-relation-group input,
.name-relation-group select,
.input-group-phone-email input {
  flex: 1;
  width: 100%;
}

.input-group-phone-email {
  align-items: flex-start; /* Align items to the top */
}

.input-group-phone-email label {
  text-align: right;
  margin-right: 10px;
}

.input-group-phone-email input {
  width: 100%;
}

/* Additional margin for the "Add Another" button */
.add-another-container {
  margin-top: 15px;
}

/* Additional margin for the error message */
.error-message {
  margin-top: 15px;
}


